.cbutton {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: #286aab;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton.cbutton--click,
.cbutton:focus {
	outline: none;
	color: #3c8ddc;
}

.cbutton__icon {
	display: block;
}

.cbutton__text {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.cbutton::after , .cbutton::before{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}

.cbutton--box {
	width: 24px;
	height: 24px;
	border: 4px solid rgb(22, 35, 47);
}

/* Individual Effects */
.cbutton--effect-novak::after {
	background: rgba(255,255,255,0.35);
}

.cbutton--effect-novak::before{
	background: rgba(255,255,255,0.5) !important;
}

.cbutton--effect-novak.cbutton--click::after {
	-webkit-animation: anim-effect-novak 3.5s;
	animation: anim-effect-novak 3.5s;
	animation-iteration-count: 999999;
}

.cbutton--effect-novak.cbutton--click::before {
	-webkit-animation: anim-effect-novak2 3.5s;
	animation: anim-effect-novak2 3.5s;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	animation-iteration-count: 999999;
}

img{
	position: relative;
	z-index: 999;
	border-radius: 50px;
	background: rgba(150,200,255, 1);
}

@-webkit-keyframes anim-effect-novak {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(4, 4, 1);
		transform: scale3d(4, 4, 1);
	}
}

@keyframes anim-effect-novak {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(4, 4, 1);
		transform: scale3d(4, 4, 1);
	}
}

@-webkit-keyframes anim-effect-novak2 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(3.8, 3.8, 1);
		transform: scale3d(3.8, 3.8, 1);
	}
}

@keyframes anim-effect-novak2 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(3.8, 3.8, 1);
		transform: scale3d(3.8, 3.8, 1);
	}
}